/*
Theme Name:     Urwahl3000 Childtheme
Theme URI:      http://kre8tiv.de/urwahl3000/
Description:    Child-Theme für Urwahl3000
Author:  	Design & Kommunikation im modulbüro
Author URI: 	http://www.modulbuero.de
Template:       urwahl3000                           
Version:        1.0.1
*/

/* Ab hier die eigenen Anpassungen... */

/*SMALLER LAPTOPS */
@media screen {
	


}

/*SMALLER LAPTOPS */
@media only screen and (min-width: 770px) {

	
}
